#content {
  margin-left:  30%;
  border: blue dashed;
}
#sidebar{
  float: left;
  width: 30%;
  border: red dashed;
}
#container, #comments-content {
  width: 75%;
  margin: 0 auto;
}

/*borders for easy debugging!*/
.sidebar-comments {
  border: green dashed;
}
#repo-roster {
  border: purple dashed;
}