<html>
    <head>
        <title>GitHubDataDash</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='dropit/dropit.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='dropit/dropit.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" />
    </head>

  <body>
    <div id="container">
      <div id="sidebar">
        Sidebar
        <ul id="repo-roster"></ul>
        <div id="wordcloud">Wordcloud goes here!</div>
      </div>

      <div id="content">
        Repo Comments
        <div id="comments-content"></div>
      </div>

    </div>
  </body>

  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</html>